$drawerWidth: 500px;

.elevation {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  will-change: transform, box-shadow;

  &:hover {
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11), 0 5px 15px 0 rgba(0,0,0,0.08);
    transform: translateY(-5px) translateZ(0);
  }
}

.slide-enter-active {
  animation: slide-in 500ms ease-out;
}

.slide-leave-active {
  animation: slide-out 500ms ease-out;
}

@keyframes slide-in {
    from {
      transform: translateX(30px);
      opacity: 0
    }
    to {
      transform: translateX(0px);
      opacity: 1;
    }
}

@keyframes slide-out {
    from {
      transform: traslateX(0px);
      opacity: 1;
    }
    to {
      transform: translateX(30px);
      opacity: 0;
    }
}

.lunar-drawer-enter-active {
  animation: drawer-in 250ms ease-out;
}

.lunar-drawer-leave-active {
  animation: drawer-out 250ms ease-out;
}

@keyframes drawer-in {
    from {
      transform: translateX($drawerWidth);
    }
    to {
      transform: translateX(0);
    }
}

@keyframes drawer-out {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX($drawerWidth);
    }
}
